@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İş Emirleri | Yönetim Sistemi</title>
    <link rel="stylesheet" href="~/css/HomePage.css">
</head>
<body>
    <div class="outer">

        <div class="inner">
            <div class="prod-left">
                <h1 class="prod-head">İş Emirleri Yönetim Sistemi</h1>
                <p class="prod-description">
                    İş Emirleri Yönetim Sistemi, iş süreçlerinizi etkin bir şekilde yönetmenize yardımcı olacak kapsamlı bir yazılım çözümüdür. Proje ve görev yönetimi konularında ihtiyaç duyduğunuz tüm araçları sunar. Bu sistem, projelerinizi ve görevlerinizi düzenli ve sistematik bir şekilde takip etmenizi sağlar, performansınızı artırır ve iş birliğini kolaylaştırır.
                </p>
                <p class="prod-description">
                    Gelişmiş takip ve raporlama araçları sayesinde projelerinizin her aşamasında detaylı kontrol ve şeffaflık elde edin. Kullanıcı dostu arayüzü ve özelleştirilebilir iş akışlarıyla, işlerinizi daha verimli ve etkili bir şekilde yönetmenizi sağlar.
                </p>
                <div class="button-container">
                    <a href="/User/Login" class="btn-primary">Giriş Yap</a>
                    <a href="/register" class="btn-secondary">İletişime Geç</a>
                </div>
            </div>
            <div class="prod-right">
                <img src="https://github.com/abhinanduN/codepen/blob/master/human-image.png?raw=true" class="prod-human-img" alt="uygulama görseli" />
            </div>
        </div>
    </div>
</body>
</html>
