@model AppUser

<div>
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <div class="dropdown float-end">
                    <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="uil uil-ellipsis-v"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end" style="">
                        <a class="dropdown-item" href="#">Sil</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <img src="@Model.Picture" alt="" class="avatar-lg rounded-circle img-thumbnail">
                </div>
                <h5 class="mt-3 mb-1">@Model.Email</h5>

            </div>

            <hr class="my-4">

            <div class="text-muted">
                <div class="table-responsive mt-4">
                    <div>
                        <p class="mb-1">Şifre :</p>
                        <h5 class="font-size-16">@Model.Password</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>