@using System.Security.Claims
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.5/signalr.min.js"></script>
 <!--- Sidemenu -->
<div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
            <a asp-controller="Project" asp-action="Index">
                <i class="fas fa-project-diagram"></i>
                <span>Projeler</span>
                <span id="projectCount" class="badge rounded-pill bg-info float-end"></span>
            </a>
        </li>

        <li>
            <a asp-controller="Mission" asp-action="Index">
                <i class="dripicons-pencil"></i>
                <span>Görevler</span>
                <span id="userInformationCounts" class="badge rounded-pill bg-info float-end"></span>
            </a>
        </li>

    </ul>
</div>
<!-- Sidebar -->
<script>

    var connection = new signalR.HubConnectionBuilder()
        .withUrl("https://localhost:7207/SignalRHub")
        .build();

    connection.start()
        .then(() => {
            setInterval(() => {
                connection.invoke("GetUserInformationCounts", @User.FindFirst(ClaimTypes.UserData)?.Value)
                    .catch(err => console.error("Error invoking GetUserInformationCounts:", err));

                connection.invoke("GetProjectCount", @User.FindFirst(ClaimTypes.UserData)?.Value)
                    .catch(err => console.error("Error invoking GetProjectCount:", err));
            }, 5000);
        })
        .catch((err) => {
            console.error("Error starting SignalR connection:", err);
        });

    connection.on("CustomerInformationCounts", (value) => {
        $("#userInformationCounts").empty();

        $("#userInformationCounts").append(`
                    <span class="badge rounded-pill bg-info float-end">${value.taskCount}</span>
                `);
    });
    connection.on("ProjectCount", (value) => {
        $("#projectCount").empty();

        $("#projectCount").append(`
                                <span class="badge rounded-pill bg-info float-end">${value.projectCount}</span>
                            `);
    });
</script>