<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-11 text-center fs-3 text-dark">Kullanıcılar</div>
            </div>

            <div class="col-12 fs-3 text-end">
                <a href="#" id="btnAdd" class="btn btn-success ">Yeni Kayıt</a>
            </div>

            <div class="card-body">
                <table id="tblUsers" class="table table-bordered table-striped table-hover">
                    <thead>
                        
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(() => {
            var customerId = sessionStorage.getItem('customerId');
            if (customerId) {
                
                $.ajax({
                    url: '/Customer/GetAllUsersById',
                    type: 'POST',
                    data: { customerId: customerId },
                    success: (response) => {
                        
                        var table = $('#tblUsers').DataTable({
                            data: response.data,
                            columns: [
                                { data: 'picture', title: 'Fotoğraf' },
                                { data: 'id', title: 'ID' },
                                { data: 'email', title: 'Email' },
                                {data: 'isDeleted', title: 'Aktif/Pasif', render: function (data) {


                                        return data ? `<i class="badge bg-danger-subtle text-danger font-size-12">Pasif</i >` : `<i class="badge bg-success-subtle text-success font-size-12" >Aktif</i>`
                              }
                            },

                                {
                                    data: 'id', title: 'İşlemler', render: (data) => {
                                        return `<a title="Sil" onclick="deleteCustomer(${data},this)" class="btn uil-trash-alt fs-6 btn-danger"></a> <a onclick="updateCustomer(${data},this)" title="Düzenle" class="btn uil-pen fs-6 btn-success"></a>`
                                    }
                                }
                                
                            ]
                        });
                    },

                    error: (xhr, status, error) => {
                        console.error('Veri çekme hatası:', error);
                    }
                });
            }
        });
    </script>
}
