<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-11 text-center fs-3 text-dark">Projeler</div>
                <div class="col-12 fs-3 text-end">
                    <a href="#" id="btnAdd" class="btn btn-success">Yeni Kayıt</a>
                </div>
            </div>
            <div class="card-body">
                <table id="tblProject" class="table table-bordered table-striped table-hover"></table>
            </div>
        </div>
    </div>
</div>
@* <div class="modal fade" id="modalEkle" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Proje Güncelleme Formu
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <input type="text" id="txtName" placeholder="Proje Adı Giriniz" class="form-control" />
                </div>
                <div class="mb-3 row">
                    <textarea id="txtDescription" rows="3" placeholder="Bir açıklama giriniz" class="form-control"></textarea>
                </div>
                <div class="mb-3 row">

                    <select id="ddlKullanicilar" multiple class="form-select">
                    </select>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat </button>
                <button type="button" id="btnKaydet" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div> *@

<div class="modal fade" id="modalAdd" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Proje Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtName" placeholder="Proje Adını Giriniz">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtDescription" placeholder="Bir Açıklama Giriniz">
                </div>
                <div class="mb-3 row">
                    <select id="txtUserSelect" class="js-example-basic-multiple" name="users[]" multiple="multiple"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnSave" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<style>
    .select2-container--open {
        z-index: 9999 !important; /* Select2 penceresi modal penceresi arkasında kalmasın diye eklendi */
    }

    .select2-selection--multiple {
        cursor: pointer !important; /* Pointer */
    }

        .select2-selection--multiple .select2-selection__placeholder {
            cursor: default !important; /* Pointer */
        }

</style>

@section Scripts {
    <script>
        var DataTable = "";

        $(document).ready(() => {
            DataTable = $("#tblProject").DataTable({
                ajax: '/Project/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Proje Adı' },
                    { data: 'description', title: 'Açıklama' },
                    { data: 'customerId', title: 'Müşteri ID' },
                    {
                        data: 'users', title: 'Tanımlanmış Kullanıcılar', render: function (data) {

                            let emails = "";
                            for (let item of data)
                                emails += item.email + '<br>';

                            return emails;




                        }
                    },
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {
                            return `<a title="Sil" onclick="deleteProject(${data}, this)" class="btn uil-trash-alt fs-6 btn-danger"></a> <a onclick="updateProject(${data}, this)" title="Düzenle" class="btn uil-pen fs-6 btn-success"></a>`;
                        }
                    }
                ]
            });

            $("#btnAdd").click(() => {
                $("#modalAdd").modal("show");
                $("#modalAdd .form-control").val('');
                $("#modalTitle").text("Yeni Proje Ekle");

                fillUserData();


            });



            $("#btnSave").off().click(() => {
                let selectedUserIds = $("#txtUserSelect").val();


                let project = {
                    name: $("#txtName").val(),
                    description: $("#txtDescription").val(),
                };


                $.ajax({
                    url: '/Project/Add',
                    type: 'POST',
                    data: {
                        project: project,
                        userIds: selectedUserIds
                    },
                    success: (res) => {
                        // $('#tblProject').DataTable().ajax.reload();
                        //   DataTable.ajax.reload(false);

                        DataTable.row.add(res).draw(false);


                        toastr.success("Proje Kaydı Başarılı");
                        $("#modalAdd").modal("hide");
                    }
                });
            });

        });

        function fillUserData() {

            $("#txtUserSelect").select2({
                width: 'resolve',
                ajax: {
                    url: '/Project/FillUsers',
                    dataType: 'json',
                    processResults: function (res) {

                        return {
                            results: res.data.map(user => ({ id: user.id, text: user.email }))
                        };
                    }
                },
                placeholder: "Kullanıcı Seçin",
                allowClear: true,
                dropdownAutoWidth: true,
                minimumResultsForSearch: 0,
                maximumInputLength: 0

            });
        }



        function deleteProject(projectId, button) {
            swal.fire({
                title: 'Silmek İstediğinize emin misiniz?', icon: 'warning', showCancelButton: true, confirmButtonText: 'Evet', cancelButtonText: 'Vazgeç'
            }).then((res) => {
                if (res.isConfirmed) {
                    $.ajax({
                        url: '/Project/Delete',
                        type: 'POST',
                        data: { id: projectId },
                        success: () => {
                            // $('#tblProject').DataTable().ajax.reload()
                            let satir = $(button).parent().parent();
                            DataTable.row(satir).remove().draw();
                            toastr.success("Proje Başarıyla Silindi");
                        }
                    });
                }
            });

        }


        function updateProject(projectId, button) {


            $.ajax({
                url: '/Project/GetById',
                type: 'GET',
                data: { id: projectId },
                success: function (res) {
                    $("#modalAdd").modal("show");


                    $("#modalTitle").text("Proje Düzenle");
                    $("#txtName").val(res.name);
                    $("#txtDescription").val(res.description);

                    $("#txtUserSelect").empty();

                    $.ajax({
                        url: "/Project/FillUsers",
                        success: function (resUsers) {
                            //data.data: sunucudan dönen json verisinin içinde, kullanıcı bılgılerının oldugu bır dizi
                            //map herbir u kullanıcı nesnesı uzerınde ıslem yapıyor
                            //her kullanıcı ıcın bır optıon ogesı olustur

                            for (let item of resUsers.data) {
                                $("#txtUserSelect").append(new Option(item.email, item.id, false, res.users.find(u => u.id == item.id) != null))
                            }





                        }
                    });

                    $("#txtUserSelect").select2({
                        dropdownParent: $("#modalAdd"),
                        placeholder: 'Email Giriniz',
                        width: "100%"
                    });


                    $("#btnSave").text("Kaydet").off().click(function () {

                        let project = {
                            id: projectId,
                            name: $("#txtName").val(),
                            description: $("#txtDescription").val(),
                        };
                        $.ajax({
                            url: '/Project/Update',
                            type: 'POST',
                            data: {
                                project: project,
                                userIds: $("#txtUserSelect").val()
                            },
                            success: function (updateProject) {
                                $("#modalAdd").modal("hide");
                                // ?   closest('tr')
                                let row = $(button).parent().parent();
                                DataTable.row(row).data(updateProject).draw();
                                
                                
                                toastr.success('Proje başarıyla güncellendi.');
                                //  $('#tblProject').DataTable().ajax.reload()

                            }
                        });
                    });
                }
            });
        }



    </script>
}
