<div class="card">
    <div class="card-header bg-soft-success text-dark d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 text-center fs-3 text-dark">
            <i class="fas fa-exclamation-circle"></i>Durum Listesi
        </div>
        <div class="text-end">
            <a href="#" id="btnAdd" class="btn btn-success">
                <i class="uil uil-plus me-2"></i>Yeni Kayıt
            </a>
        </div>
    </div>
    <div class="card-body">
        <table id="tblStatus" class="table table-bordered table-striped table-hover"></table>
    </div>
</div>


<div class="modal fade" id="modalAdd" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <form id="statusForm" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 row">
                        <input type="text" class="form-control" id="txtStatusname" placeholder="Durum adı giriniz" required>
                        <span class="text-danger" id="statusNameValidation" style="display:none;">Durum adı zorunludur.</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        let DataTable = "";
        $(document).ready(function () {

            $("#btnAdd").click(function () {
                $("#modalAdd").modal("show");
                $("#statusForm").trigger('reset');
                $("#statusNameValidation").hide();
                $("#modalTitle").text("Yeni Durum Kaydı");
                $("#btnSave").text("Kaydet").off().click(function () {
                    let isValid = this.checkValidity();
                    if (!isValid) {
                        event.stopPropagation();
                        $("#statusNameValidation").show();
                    } else {
                        $("#statusNameValidation").hide();
                        let data = {
                            missionStatus: {
                                name: $("#txtStatusname").val()
                            }
                        };
                        let action = $("#modalTitle").text().includes("Yeni") ? '/Status/Add' : '/Status/Update';
                        $.ajax({
                            url: action,
                            type: 'POST',
                            data: data,
                            success: function (res) {
                                $("#modalAdd").modal("hide");
                                if (action === '/Status/Add') {
                                    res.taskCount = 0;
                                    DataTable.row.add(res).draw();
                                } else {
                                    let satir = $("#modalAdd").data("row");
                                    DataTable.row(satir).data(res).draw();
                                }
                            }
                        });
                    }
                });
            });

         

            DataTable = $("#tblStatus").DataTable({
                ajax: '/Status/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Durum Adı' },
                    { data: 'taskCount', title: 'Bağlı Görev Sayısı' },
                    {
                        data: 'id', title: 'İşlemler', render: function (data, type, row) {
                            return `<a onclick="deleteStatus(${data},this)" class="btn uil-trash-alt fs-6 btn-danger"></a> <a onclick="updateStatus(${data},this)" class="btn uil-pen fs-6 btn-success"></a>`;
                        }
                    }
                ]
            });
        });

        function deleteStatus(statusId, button) {

            Swal.fire({
                title: 'Silmek istediğinize emin misiniz?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Evet',
                cancelButtonText: 'Vazgeç',
                reverseButtons: false
            }).then((result) => {
                if (result.isConfirmed) {
                    let satir = $(button).parent().parent();

                    $.ajax({
                        url: '/Status/Delete',
                        type: 'POST',
                        data: {
                            id: statusId
                        },
                        success: function () {
                            DataTable.row(satir).remove().draw();
                            toastr.success("İşlem Başarılı");
                        },
                        error: function () {
                            toastr.error("Bir hata oluştu.", "Silme işlemi başarısız!");
                        }
                    });
                }
            });
        }

        function updateStatus(statusId, button) {

            $.ajax({
                url: '/Status/GetById',
                type: 'POST',
                data: { id: statusId },
                success: function (res) {

                    $("#modalAdd").modal("show");
                    $("#modalTitle").text("Durum Düzenle");
                    $("#txtStatusname").val(res.name);

                    $("#btnSave").text("Düzenle").off().click(function () {

                        res.name = $("#txtStatusname").val();

                        $.ajax({
                            url: '/Status/Update',
                            type: 'POST',
                            data: {
                                status: res
                            },
                            success: function (updatedStatus) {
                                $("#modalAdd").modal("hide");

                                let satir = $(button).parent().parent();

                                updatedStatus.taskCount = updatedStatus.taskCount != null ? updatedStatus.taskCount : 0;

                                DataTable.row(satir).data(updatedStatus).draw();
                            },
                            error: function () {
                                toastr.error('Durum güncellenirken bir hata oluştu.');
                            }
                        });

                    });

                },
                error: function () {
                    toastr.error('Durum bilgisi alınırken bir hata oluştu.');
                }
            });
        }
    </script>
}
