<div id="content" class="d-flex p-2"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Mission/GetAllOnBoard',
                type: 'POST',
                success: function (res) {
                    let groupedData = res.data.reduce((acc, curr) => {
                        (acc[curr.missionStatus.name] = acc[curr.missionStatus.name] || []).push(curr);
                        return acc;
                    }, {});

                    for (let status in groupedData) {
                        let missionItems = groupedData[status].map(m => `${m.title}<br />`).join('');
                        $("#content").append(`
                                    <div class="card col-3 me-2">
                                        <div class="card-header text-center text-dark">${status}</div>
                                        <div class="card-body">
                                            ${missionItems}
                                        </div>
                                    </div>
                                `);
                    }
                }
            });
        });
    </script>
}
