<div id="content" class="d-flex p-2"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Status/GetAll',
                type: 'POST',
                success: function (res) {
                    let groupedData = res.data;

                    groupedData.forEach(status => {
                        $("#content").append(`
                                    <div class="card col-3 me-2" id="status-card-${status.id}">
                                        <div class="card-header text-center text-dark">${status.name} (${status.taskCount})</div>
                                        <div class="card-body" id="tasks-${status.id}"></div>
                                    </div>
                                `);

                        fillStatusTasks(status.id);
                    });
                },
                error: function (xhr, status, error) {
                    console.error("Status/GetAll error:", status, error);
                }
            });
        });

        function fillStatusTasks(statusId) {

            $.ajax({
                url: '/Mission/GetTasksByStatus',
                type: 'POST',
                data:{ data: JSON.stringify({ ids: [statusId] }) },
                contentType: 'application/json',
                success: function (taskRes) {
                    let taskItems = taskRes.data.map(t => `<div>${t.title}</div>`).join('');
                    $(`#tasks-${statusId}`).html(taskItems);
                },
                error: function (xhr, status, error) {
                    console.error("Mission/GetTasksByStatus error:", status, error);
                }
            });
        }
    </script>
}
