<html>
<head>
    <title>Görev Yönetim Sayfası</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #007bff;
            color: white;
            font-weight: bold;
            padding: 10px;
            text-align: center;
        }

        .card-body {
            padding: 15px;
            flex-grow: 1;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            color: white;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
        }

        .card-item {
            flex-grow: 1;
            flex-basis: calc(25% - 10px);
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

            .card-item .card-header,
            .card-item .card-body,
            .card-item .card-footer {
                flex-grow: 0;
            }

            .card-item .card-footer {
                cursor: pointer;
                background-color: #e2e6ea;
                transition: background-color 0.3s;
                margin-top: auto;
            }

                .card-item .card-footer:hover {
                    background-color: #d6d8db;
                }

        .card-clickable {
            cursor: pointer;
            transition: background-color 0.3s, box-shadow 0.3s;
        }

            .card-clickable:hover {
                background-color: #f8f9fa;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

        .card-header {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

            .card-header h4 {
                margin-bottom: 0; /* Başlık ve buton arasındaki boşluğu kaldırmak için */
            }

        #btnStatusadd {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%); /* Butonu başlığın ortasında hizalamak için */
        }

    </style>
</head>
<body>

    <div class="card col-12 p-3" style="background-color: #f8f9fa;">
        <div class="card-header d-flex align-items-center" style="background-color: #e9ecef; position: relative;">
            <h4 class="mb-0 mx-auto">Görev Yönetim Sayfası</h4>
            <a href="#" title="Yeni Durum Ekle" id="btnStatusadd" class="btn btn-dark" style="position: absolute; right: 0;">
                <i class="bx bxs-plus-circle"></i>
            </a>
        </div>
        <div class="d-flex col-12">
            <div id="content" class="d-flex flex-wrap p-2 col-12" style="background-color: #f8f9fa;">
               
            </div>
        </div>
    </div>


   


    <div class="modal fade" id="modalStatus" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <form id="statusForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 row">
                            <input type="text" class="form-control" id="txtStatusname" placeholder="Durum adı giriniz" required>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                        <button type="button" id="btnSavee" class="btn btn-primary">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAdd" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formMission">
                        <div class="mb-3">
                            <label for="txtTitle" class="form-label">Başlık</label>
                            <input type="text" class="form-control" id="txtTitle" required>
                        </div>
                        <div class="mb-3">
                            <label for="txtDescription" class="form-label">Açıklama</label>
                            <textarea class="form-control" id="txtDescription"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="ddlPriorities" class="form-label">Öncelik</label>
                            <select class="form-select" id="ddlPriorities"></select>
                        </div>
                        <div class="mb-3">
                            <label for="ddlProjects" class="form-label">Görevin Ait Olduğu Proje</label>
                            <select class="form-select" id="ddlProjects"></select>
                        </div>
                        <div class="mb-3">
                            <label for="ddlUsers" class="form-label">Kullanıcılar</label>
                            <select class="form-select" id="ddlUsers" multiple></select>
                        </div>
                        <div class="mb-3">
                            <label for="txtEndDate" class="form-label">Görevin Bitmesi Gereken Tarihi</label>
                            <input type="date" class="form-control" id="txtEndDate">
                        </div>
                        <input type="hidden" id="hiddenStatusId" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
   

    @section Scripts {
        <script>
            $(document).ready(function () {
                $.ajax({
                    url: '/Status/GetAll',
                    type: 'POST',
                    success: function (res) {
                        let groupedData = res.data;

                        groupedData.forEach(status => {
                            $("#content").append(`
                                    <div class="card col-3 me-2" id="status-card-${status.id}" style="background-color: #e9ecef;">
                                        <div class="card-header text-dark text-center position-relative p-3 border-bottom" style="background-color: #dee2e6;">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h5 class="mb-0 d-flex align-items-center">
                                                    ${status.name}
                                                    <span class="badge bg-secondary ms-2">${status.taskCount}</span>
                                                </h5>
                                                <a href="/Status/Update" class="btn btn-link position-absolute" style="top: 10px; right: 10px; font-size: 1.5rem; color: black; background: none; border: none; padding: 0; text-decoration: none;">
                                                    ⋮
                                                </a>
                                            </div>
                                        </div>
                                                    
                                        <div class="card-body" id="tasks-${status.id}" ondrop="drop(event)" ondragover="allowDrop(event)">
                                        </div>
                                        <div class="card-footer text-start text-dark" id="taskAdd-${status.id}" style="background-color: #dee2e6; cursor: pointer;">
                                            <a onclick="addMission(${status.id},this)" title="Görev Ekle" class="btn btn-hover"><i class="bx bx-plus"></i> Görev Ekle</a>
                                        </div>
                                    </div>
                                `);
                        });
                        fillCardMision();
                    }
                });

                addMission = (statusId) => {
                    console.log(statusId);
                    $("#hiddenStatusId").val(statusId);
                    $("#modalAdd").modal("show");
                    $("#deletedRow").hide();
                    $("#formMission").trigger('reset');
                    $("#modalTitle").text("Yeni Görev Ekleme");
                    fillUsers();
                    fillPriorities();
                    fillProjects();

                    $("#btnSave").text("Kaydet").off().click(() => {
                        let statusId = $("#hiddenStatusId").val();

                        let mission = {
                            title: $("#txtTitle").val(),
                            description: $("#txtDescription").val(),
                            priorityId: $("#ddlPriorities").val(),
                            projectId: $("#ddlProjects").val(),
                            statusId: statusId,
                            endDate: $("#txtEndDate").val()
                        };

                        let selectedUserIds = $("#ddlUsers").val();

                        $.ajax({
                            url: '/Mission/Add',
                            type: 'POST',
                            data: {
                                mission: mission,
                                userIds: selectedUserIds
                            },
                            success: function (res) {
                                $("#modalAdd").modal("hide");
                                let emails = res.assignees.map(user => user.email).join("<br/>");

                                let newTask = `
                                        <div class="col-sm-12">
                                            <div class="card card-clickable" id="task-${res.id}" draggable="true" ondragstart="drag(event)" style="cursor: pointer; transition: background-color 0.3s, box-shadow 0.3s;">
                                                <div class="card-body">
                                                    <h5 class="card-title">#${res.id} ${res.title}</h5>
                                                    <p class="card-text">${res.description}</p>
                                                    <h6 class="card-text">${emails}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    `;

                                $(`#tasks-${statusId}`).append(newTask);
                                toastr.success("Görev Başarıyla Oluşturuldu");
                            }
                        });
                    });
                }
            });

            $("#btnStatusadd").click(function () {
                $("#modalStatus").modal("show");
                $("#modalStatus").trigger("reset");
                $("#modalTitle").text("Yeni Durum Kaydı");

                $("#btnSavee").text("Kaydet").off().click(function () {
                    let data = {
                        missionStatus: {
                            name: $("#txtStatusname").val()


                        }
                    }

                        $.ajax({
                            url: '/Status/Add',
                            type: 'POST',
                            data: data,
                        success: function (res1) {
                            $("#modalStatus").modal("hide");
                            $(`#status-card-${statusId} .card-header h5`).text(res1.name);
                            toastr.success("Durum başarıyla eklendi!");

                        }
                        });
                })
            })

            function fillCardMision() {
                $.ajax({
                    url: "/Mission/GetAllCard",
                    success: (data) => {
                        for (var item of data) {
                            let emails = "";
                            for (var user of item.assignees) {
                                emails += `<i title="${user.email}" class="uil-user-circle"></i>`;
                            }

                            $("#tasks-" + item.statusId).append(`
                                    <div class="col-sm-12">
                                        <div class="card card-clickable" id="task-${item.id}" draggable="true" ondragstart="drag(event)" style="cursor: pointer; transition: background-color 0.3s, box-shadow 0.3s;">
                                            <div class="card-body">
                                                <div class="d-flex align-items-start justify-content-between">
                                                    <h5 class="card-title">#${item.id} ${item.title}</h5>
                                                    <div class="email-icons">
                                                        ${emails}
                                                    </div>
                                                </div>
                                                <p class="card-text">${item.description}</p>
                                            </div>
                                        </div>
                                    </div>
                                `);
                        }
                    }
                });
            }
            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }
            function allowDrop(ev) {
                ev.preventDefault();
            }
            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData("text");
                var taskElement = document.getElementById(data);


                if (ev.target.classList.contains('card-body')) {
                    var newStatusId = ev.target.id.split('-')[1];
                    ev.target.appendChild(taskElement);
                    $.ajax({
                        url: '/Mission/UpdateStatus',
                        type: 'POST',
                        data: {
                            taskId: data.split('-')[1],
                            statusId: newStatusId
                        },
                        success: function (res) {
                            toastr.success("Görev başarıyla güncellendi.");
                        }
                    });
                }
            }
            function fillProjects() {
                $.ajax({
                    url: '/Project/GetAll',
                    type: 'GET',
                    success: (res) => {
                        $("#ddlProjects").empty();

                        for (var item of res.data) {
                            $("#ddlProjects").append(new Option(item.name, item.id));
                        }
                        $("#ddlProjects").select2({
                            dropdownParent: $('#modalAdd'),
                            width: "100%"
                        });

                    }
                });
            }

            function fillUsers() {
                $.ajax({
                    url: '/Project/FillUsers',
                    type: 'GET',
                    success: (res) => {
                        $("#ddlUsers").empty();

                        for (var item of res.data) {
                            $("#ddlUsers").append(new Option(item.email, item.id));
                        }
                        $("#ddlUsers").select2({
                            dropdownParent: $('#modalAdd'),
                            width: "100%",
                            placeholder: "Göreve Dahil olacak Kullanıcıları Seçiniz"

                        });
                    }
                });
            }

            function fillFiles() {
                $.ajax({
                    url: '/TaskFile/GetAll',
                    type: 'GET',
                    success: (res) => {
                        $("#ddlFiles").empty();

                        for (var item of res.data) {
                            $("#ddlFiles").append(new Option(item.name, item.id));
                        }

                    }
                });
            }

            function fillPriorities() {
                $.ajax({
                    url: '/Priority/GetAll',
                    type: 'GET',
                    success: (res) => {
                        $("#ddlPriorities").empty();

                        for (var item of res.data) {
                            $("#ddlPriorities").append(new Option(item.name, item.id));
                        }
                        $("#ddlPriorities").select2({
                            dropdownParent: $('#modalAdd'),
                            width: "100%"

                        });
                    }
                });
            }

        </script>
    }
</body>
</html>
